/* CLASS */

/* ID */
#content {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

/* TAGS */
body {
    background-color: #333;
}